<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">


<section layout:fragment="content-central">
    <!-- Page Content -->

    <div class="box">
        <div class="box-header">
            <div class="inline">
                <h1>
                    <th:block th:text="${user.getNameUser()} +' -   '+ ${userType}"></th:block>
                    <h3 th:text="${user.getEmailUser()}"></h3>
                </h1>
                <hr>
            </div>
        </div>
        <div class="box-body">

            <table id="tabela" class="table table-hover table-bordered " role="grid">
                <thead>
                    <tr role="row">
                        <th>Nome</th>
                    </tr>
                </thead>

                <tbody>
                <th:block th:each="team : ${teams}">
                    <tr role="row">
                        <td class="bg-aqua" th:text="${team.getIdTeam()}"></td>
                    </tr>
                </th:block>
                <th:block th:each="laboratory : ${laboratories}">
                    <tr role="row">
                        <td class="bg-aqua"><h3 th:text="${laboratory.getNameLaboratory()}"></h3></td>
                    </tr>

                </th:block>

                </tbody>
            </table>
        </div>
    </div>

</section>
<div layout:fragment="extra-scripts">
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable();
        });
    </script>
</div>

</html>