<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">


<section layout:fragment="content-central">
    <!-- Page Content -->

    <div class="box info-box">
        <div class="box-header">
            <div class="inline">
                <h1>
                    <th:block th:text="${user.getNameUser()} +' -   '+ ${type}"></th:block>
                    <h3 th:text="${user.getLoginUser()}"></h3>
                </h1>
                <hr>
            </div>
        </div>
        <div class="box-body">

            <table id="tabela" class="table table-hover table-bordered " role="grid">
                <thead>
                    <tr role="row">
                        <th class="col-11">
                            <th:block th:unless="${projects == null}">Projetos</th:block>
                            <th:block th:unless="${laboratories == null}">Laboratórios</th:block>
                        </th>
                        <th>Detalhes</th>
                    </tr>
                </thead>

                <tbody>
                <th:block th:each="project : ${projects}">
                    <tr role="row">
                        <td class="text-bold" th:text="${project.getNameProject()}"></td>
                        <td>
                            <button class="fa fa-search"
                                    th:onclick="|proj_getbyid('${project.getIdProject()}', '${project.getLaboratoryIdLaboratory()}')|">
                            </button>
                        </td>
                    </tr>
                </th:block>
                <th:block th:each="laboratory : ${laboratories}">
                    <tr role="row">
                        <td th:text="${laboratory.getNameLaboratory()}"></td>
                        <td>
                            <button class="fa fa-search"
                                    th:onclick="|lab_getbyid('${laboratory.getIdLaboratory()}')|">
                            </button>
                        </td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>

</section>
<div layout:fragment="extra-scripts">
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable( {
                "columnDefs": [
                    { "width": "5%", "targets": 1 }
                ]
            });
        });
        function proj_getbyid(id, lab) {
            $.redirect("/project/getbyid",{project_id: id, laboratory_id: lab});
        }
        function lab_getbyid(laboratory_id) {
            $.redirect("/lab/getbyid",{id: laboratory_id});
        }
    </script>
</div>

</html>