<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head-load">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootswatch-flatly/4.1.3/bootstrap.min.css}">    
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    </div>
</head>
<body>
</body>
</html>