<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head-load">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title layout:fragment="title"></title>
        <!-- Bootstrap core CS S -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <!-- <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />   ICONE DA PÁGINA -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/_all-skins.min.css}" />
</head>
</html>