<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ratLab</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.iscb.RatLab.Entity.BoxEntity"/>
        <mapping class="com.iscb.RatLab.Entity.LaboratoryEntity"/>
        <mapping class="com.iscb.RatLab.Entity.ProjectEntity"/>
        <mapping class="com.iscb.RatLab.Entity.UserEntity"/>
        <mapping class="com.iscb.RatLab.Entity.ModifierEntity"/>
    </session-factory>
</hibernate-configuration>