<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">


<section layout:fragment="content-central">
    <!-- Page Content -->

    <div class="container">

        Hello world!
    <!--/*@thymesVar id="user" type="com.iscb.RatLab.Entity.UserEntity"*/-->
    <div th:text="${user.getIdUser()}"> </div>
    <div th:text="${user.getNameUser()}"> </div>
    <div th:text="${user.getEmailUser()}"> </div>
    <div th:text="${userType}"> </div>

    </div>

    <!-- /.container -->

</section>

</html>