<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">


<section layout:fragment="content-central">
    <!-- Page Content -->

    <div class="box">
        <div class="box-header">
            <div class="inline">
                <h1>
                    <th:block th:text="${project.getNameProject()}"></th:block>
                </h1>
            </div>
        </div>
        <div class="box-body">
            <h4 th:text="${'Documento de ética: '+ project.getnDocEthicProject()}"></h4>
            <h3>
                <span>Responsável: </span>
                <th:block th:text="${responsible.getNameUser()}"></th:block>
            </h3>
            <h3>
                <span>Laboratório:</span>
                <th:block th:text="${laboratory.getNameLaboratory()}"></th:block>
            </h3>

            <hr>
            <!-- RATOS -->
            <div class="box box-success collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ratos</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- FOR DAQUI  -->
                    <div class="row">
                        <th:block th:each="rat : ${rats}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="box box-info"  id="box">
                                    <div class="box-header" ><th:block th:text="${rat.getIdBox()}"></th:block> <!-- Usar modulo -->
                                        <div class="box-tools pull-right">
                                            <!-- Remove Button -->
                                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-info"
                                                    th:attr="data-n-box=${rat.getIdBox()}, data-box-id=${rat.getIdBox()}, data-box-project=${rat.getProjectIdProject()}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="info-box"><span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Machos</span>
                                                <span class="info-box-number" th:text="${rat.getQtdMaleBox()}"></span>
                                                <span class="info-box-text">Femeas</span>
                                                <span class="info-box-number" th:text="${rat.getQtdFemaleBox()}"></span>
                                            </div>


                                            <!-- /.info-box-content -->

                                        </div>
                                    </div>
                                    <div class="box-footer center-block">
                                        <a href="/project/update">Atualizar
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <!-- Camundongos -->
            <div class="box box-success collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Camundongos</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- FOR DAQUI  -->
                    <div class="row">
                        <th:block th:each="rat : ${mice}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="box box-info"  id="box">
                                    <div class="box-header" ><th:block th:text="${rat.getIdBox()}"></th:block> <!-- Usar modulo -->
                                        <div class="box-tools pull-right">
                                            <!-- Remove Button -->
                                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-info"
                                                    th:attr="data-n-box=${rat.getIdBox()}, data-box-id=${rat.getIdBox()}, data-box-project=${rat.getProjectIdProject()}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="info-box"><span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Machos</span>
                                                <span class="info-box-number" th:text="${rat.getQtdMaleBox()}"></span>
                                                <span class="info-box-text">Femeas</span>
                                                <span class="info-box-number" th:text="${rat.getQtdFemaleBox()}"></span>
                                            </div>


                                            <!-- /.info-box-content -->

                                        </div>
                                    </div>
                                    <div class="box-footer center-block">
                                        <a href="/project/update">Atualizar
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <!-- COELHO -->
            <div class="box box-success collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Coelhos</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- FOR DAQUI  -->
                    <div class="row">
                        <th:block th:each="rat : ${rabbit}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="box box-info"  id="box">
                                    <div class="box-header" ><th:block th:text="${rat.getIdBox()}"></th:block> <!-- Usar modulo -->
                                        <div class="box-tools pull-right">
                                            <!-- Remove Button -->
                                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-info"
                                                    th:attr="data-n-box=${rat.getIdBox()}, data-box-id=${rat.getIdBox()}, data-box-project=${rat.getProjectIdProject()}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="info-box"><span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Machos</span>
                                                <span class="info-box-number" th:text="${rat.getQtdMaleBox()}"></span>
                                                <span class="info-box-text">Femeas</span>
                                                <span class="info-box-number" th:text="${rat.getQtdFemaleBox()}"></span>
                                            </div>


                                            <!-- /.info-box-content -->

                                        </div>
                                    </div>
                                    <div class="box-footer center-block">
                                        <a href="/project/update">Atualizar
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <!-- COBAIO -->
            <div class="box box-success collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Cobaio</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- FOR DAQUI  -->
                    <div class="row">
                        <th:block th:each="rat : ${cobaio}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="box box-info"  id="box">
                                    <div class="box-header" ><th:block th:text="${rat.getIdBox()}"></th:block> <!-- Usar modulo -->
                                        <div class="box-tools pull-right">
                                            <!-- Remove Button -->
                                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-info"
                                                    th:attr="data-n-box=${rat.getIdBox()}, data-box-id=${rat.getIdBox()}, data-box-project=${rat.getProjectIdProject()}">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="info-box"><span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Machos</span>
                                                <span class="info-box-number" th:text="${rat.getQtdMaleBox()}"></span>
                                                <span class="info-box-text">Femeas</span>
                                                <span class="info-box-number" th:text="${rat.getQtdFemaleBox()}"></span>
                                            </div>


                                            <!-- /.info-box-content -->

                                        </div>
                                    </div>
                                    <div class="box-footer center-block">
                                        <a href="/project/update">Atualizar
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

    <!-- MODAL  -->

    <div class="modal fade modal-info " id="modal-info">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Confirmação de Exclusão</h4>
                </div>
                <div class="modal-body">
                    <p> Você realmente deseja apagar a caixa número: </p>
                    <h1 id="N_box"></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-outline" id="del">Excluir</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
<div layout:fragment="extra-scripts">
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable({
                "columnDefs": [
                    { "width": "5%", "targets": 1 }
                ]
            });
        });
        function box_getbyid(box_id, project_id ) {
            $.redirect("/box/getbyid",{id: box_id, project_id: project_id});
        }
        $('#modal-info').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var n_box = button.data('n-box');
            var modal = $(this);
            modal.find('.modal-body #N_box').text(n_box);
            modal.find('.modal-footer #del').on("click",function () {
                var boolean = $.get("/box/delete",{box_id:button.data('box-id'), project_id:button.data('box-project')});
                if(boolean) {
                    button.parent().parent().parent().parent().remove();
                    modal.modal('hide');
                }
            });
        });


    </script>
</div>

</html>